<a href="https://colab.research.google.com/github/rob195286/IA/blob/main/labo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
import pandas as pd

pk_data = "pokemon_data.csv"

pk_df = pd.read_csv(pk_data)
len(pk_df)

800

In [13]:
import numpy as np
import pandas as pd

pk_data = "pokemon_data.csv"

pk_df = pd.read_csv(pk_data)

pk_df

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 12 columns]

In [14]:
pk_name_series = pd.Series(pk_df["Name"])

pk_name_series

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [58]:
hp = pk_df["HP"].max()

info_max_hp = pk_df.loc[lambda df: df['HP'] == pk_df["HP"].max(), :]
info_max_hp

       #     Name  Type 1 Type 2  ...  Sp. Def  Speed  Generation  Legendary
261  242  Blissey  Normal    NaN  ...      135     55           2      False

[1 rows x 12 columns]

       #     Name  Type 1 Type 2  ...  Sp. Def  Speed  Generation  Legendary
261  242  Blissey  Normal    NaN  ...      135     55           2      False

[1 rows x 12 columns]